html{

    height: 100%;

}

body{

    height: 100%;
    margin: 0;

}

label{

    font-family:'Franklin Gothic Medium';
    font-size: 40px;
    color: #303030;
    margin-top: 30px;

}

#container{

    height: 100%;
    background-color:yellowgreen;

}

    #top{

        height: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    #middle{

        height: 60%;
        display: flex;

    }

        #middle-left{

            height: 100%;
            width: 35%;

        }

        #board{

            height: 100%;
            width: 30%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            /* outline: solid 4px #303030;
            border-radius: 15px; */
            padding: 5px;
            /* background-color: chocolate; */
            
        }

            #board-line-one{

                height: 33%;
                width: 100%;
                display: flex;
                padding: 10px;

            }

            #board-line-two{

                height: 34%;
                width: 100%;
                display: flex;
                padding: 10px;

            }

            #board-line-three{

                height: 33%;
                width: 100%;
                display: flex;
                padding: 10px;

            }

            .tiles-lr{

                height: 100%;
                width: 33%;
                padding: 5px;

            }

            .tiles-m{

                height: 100%;
                width: 34%;
                padding: 5px;
                margin: 0 5px 0 5px;

            }

            .btn-tiles{

                height: 100%;
                width: 100%;
                /* background-image: url(btn-bg.png);
                background-repeat: no-repeat;
                background-size: cover; */
                border: solid 5px #303030;
                outline: solid 3px #303030;
                border-radius: 5px;
                font-family:'Franklin Gothic Medium';
                font-size: 30px;
                color: #303030;

            }

            .btn-tiles:hover{

                cursor: pointer;
                background-color: #C8BFE7;

            }

        #middle-right{

            height: 100%;
            width: 35%;

        }

    #bottom{

        height: 25%;
        display: flex;
        justify-content: center;
        align-items: center;

    }

        .btn-game{

            height: 25%;
            width: 10%;
            background-color: #303030;
            color: white;
            font-family:'Franklin Gothic Medium';
            font-size: 20px;
            border: solid 0px;
            border-radius: 10px;
            margin: 10px 10px 30px 10px;

        }

        .btn-game:hover{

            cursor: pointer;
            /* background-color:rebeccapurple;
            transition: 0.3s; */

        }